In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import classification_report
import seaborn as sns
from scipy import stats
from pathlib import Path
import pickle
import numpy as np

In [7]:
# display all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 70)

### This part aims at the whole 11g leavetimes file by routes
due to the usability of high performance server, test with 3.1stopchunk to read the chunk size files and only read the useful columns
* merge with trips file to get LINEID and DIRECTION, didn't save direction here because the usability of server couldnt afford anymore at that time, so will merge again in separate model training

In [3]:
cd tmp

/home/team9/tmp

In [4]:
ls

data/

In [5]:
cd data

/home/team9/tmp/data

In [6]:
ls

ben_models/
Custom_location_53_345035_-6_267261_62b5c8e6c91d98000ba01ceb.csv
final_data/
leavetimes/
lines_no_outliers/
mesh_xing_ben_victoria-Copy1.ipynb
mesh_xing_ben_victoria.ipynb
pickle_files/
rt_trips_DB_2018.txt
rt_vehicles_DB_2018.txt
test_46A_copy.pkl
test_46a_dask_2.csv
test_46a_dask.csv
test_46a_max_values.pkl
test_46a_min_estimators.pkl
test_46A_v_2.pkl
test_46A_victoria.pkl
test_pickle_ben.pickle
test_pickle_ben.pkl
test_pickle_victoria.pkl
trips_lines_ready.csv
trips_modelling.csv
trips_ready.csv
weather_factorised.csv
weather_ready.csv
weather_trips.csv

## get unique tripid with lineid with direction

In [7]:
trips = pd.read_csv('rt_trips_DB_2018.txt', sep=";", parse_dates=[0],usecols=['DAYOFSERVICE', 'TRIPID', 'LINEID'])

In [9]:
test = pd.read_csv('rt_trips_DB_2018.txt', sep=";", parse_dates=[0])

In [10]:
test

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"
1,DB,07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2580260,"
2,DB,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2448968,"
3,DB,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3094242,"
4,DB,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2526331,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2182632,DB,14-MAY-18 00:00:00,6765849,123,123_36,2,61560,57840,61365.0,57859.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3216350,"
2182633,DB,14-MAY-18 00:00:00,6765469,75,75_17,1,53416,48600,NaN,48823.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2865284,"
2182634,DB,14-MAY-18 00:00:00,6765486,33D,33D_62,2,29460,26400,29904.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3077688,"
2182635,DB,14-MAY-18 00:00:00,6764987,70,70_60,1,65277,60600,66341.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3208841,"
2182636,DB,14-MAY-18 00:00:00,6765012,27,27_19,1,47722,41700,47508.0,41642.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2960092,"

In [12]:
test.ROUTEID.unique()

array(['68_80', '25B_271', '45A_70', '25A_273', '14_15', '77A_28',
       '39_21', '16_20', '40D_102', '27B_34', '142_9', '83_22', '130_10',
       '15_16', '46A_74', '33_44', '7_70', '39A_40', '39A_43', '49_28',
       '1_40', '123_34', '41_7', '67X_38', '59_10', '9_5', '40_27',
       '239_28', '76_37', '130_11', '84_27', '53_20', '185_55', '41_3',
       '40D_103', '151_15', '13_68', '15B_60', '65B_66', '29A_15',
       '33_70', '61_106', '140_19', '14_16', '7_66', '79A_27', '38A_32',
       '46A_67', '31_18', '33B_58', '15B_61', '69_44', '44_33', '42_42',
       '44_36', '67_6', '184_29', '13_67', '238_15', '145_102', '17A_12',
       '83_19', '45A_64', '32_57', '27A_4', '185_54', '17_16', '27X_43',
       '18_3', '122_16', '25A_270', '122_17', '54A_12', '66_11', '7_72',
       '150_8', '56A_31', '37_15', '27_17', '27A_5', '42_44', '15A_84',
       '65_77', '11_43', '123_36', '145_105', '9_7', '150_9', '47_139',
       '79_11', '79A_28', '83A_20', '63_25', '33B_56', '27B_23', '4_10',
       '33_72', '120_9', '41C_78', '16_24', '70_67', '84A_3', '220_12',
       '7_73', '39X_1', '151_18', '33_45', '32X_77', '17_10', '68A_86',
       '27B_36', '1_37', '84X_58', '41C_80', '41C_79', '38_14', '102_9',
       '83A_23', '37_14', '270_42', '77A_29', '51X_64', '65B_65',
       '185_50', '151_17', '76_36', '33X_49', '75_20', '220_10', '26_29',
       '65_75', '270_44', '66A_37', '29A_14', '69_45', '31A_25', '111_8',
       '185_56', '84X_57', '185_57', '122_18', '15_17', '120_7', '27_9',
       '11_40', '40D_101', '14C_18', '67_4', '70_60', '65_72', '25B_274',
       '33X_46', '13_63', '40_31', '39_20', '114_5', '68_81', '26_28',
       '40_33', '40D_104', '4_12', '83_16', '68_78', '68_83', '68_85',
       '75_17', '75_19', '76A_28', '44B_61', '79_10', '31A_26', '13_70',
       '161_50', '32_58', '140_21', '7A_86', '38_13', '102_8', '38A_20',
       '7A_87', '13_76', '43_84', '25_269', '17A_13', '18_4', '66_13',
       '104_16', '15A_83', '11_42', '13_61', '84_30', '68_79', '13_65',
       '83A_26', '33A_25', '16C_28', '4_11', '65_74', '238_11', '47_136',
       '40D_106', '49_29', '239_26', '4_14', '42D_50', '7A_85', '38_9',
       '66A_38', '25_272', '39_22', '31B_45', '61_109', '66X_102',
       '66_18', '4_13', '46A_68', '17_12', '17A_17', '31D_51', '66A_34',
       '17_13', '67X_44', '83A_17', '33D_61', '27_19', '26_24', '17A_15',
       '43_88', '7A_89', '39X_3', '151_16', '145_91', '120_11', '104_15',
       '44_40', '184_28', '56A_30', '1_41', '16_23', '31_15', '41B_53',
       '61_108', '15_18', '185_60', '84X_60', '63_26', '38A_33', '185_63',
       '122_20', '53_21', '67X_43', '84X_62', '84X_56', '67X_47', '111_7',
       '40B_64', '63_28', '13_60', '75_18', '9_8', '27_20', '49_27',
       '7D_123', '46E_94', '38D_61', '45A_60', '17_11', '27B_35',
       '27B_40', '26_26', '69_30', '120_13', '142_13', '38_15', '37_13',
       '32X_76', '66X_94', '118_4', '31B_46', '17_15', '13_62', '11_41',
       '66_16', '84X_63', '27_12', '51D_50', '15D_62', '66X_104',
       '41A_22', '122_14', '7A_88', '25D_277', '41B_51', '40B_65',
       '114_6', '18_5', '16_22', '68_84', '33B_57', '84A_1', '39A_42',
       '15_10', '27B_26', '59_11', '63_30', '54A_11', '41_9', '46A_66',
       '185_59', '83_25', '84_28', '66A_36', '27B_27', '40B_63',
       '66X_103', '16_21', '66_17', '69_47', '66B_59', '151_19', '1_39',
       '75_21', '47_135', '7_74', '17A_11', '13_72', '140_22', '16C_29',
       '46A_73', '185_58', '31B_44', '45A_68', '66B_58', '38B_44',
       '17A_16', '17A_18', '220_15', '236_10', '33X_48', '83_18', '69_43',
       '84_32', '9_6', '13_28', '41B_52', '84_31', '120_12', '7B_93',
       '67X_46', '111_9', '76A_29', '1_38', '63_27', '51D_51', '145_104',
       '185_53', '142_8', '66X_92', '38A_23', '17_17', '27B_37',
       '41X_128', '13_69', '33A_23', '38B_45', '140_20', '13_73', '27_18',
       '41_10', '7_71', '31_17', '40D_105', '38_10', '122_19', '65_73',
       '16C_26', '17A_14', '63_31', '44B_60', '41_5', '15D_63', '40_32',
       '67X_45', '123_35', '33A_26', '13_64', '16C_27', '68_66', '65_76',
       '33_73', '31D_50', '83_24', '41X_121', '46A_63', '27A_6', '41_4',
       '41_6', '142_12', '102_10', '33A_27', '33A_22', '7D_121', '14_12',
       '69X_60', '66B_57', '39A_45', '185_51', '46A_69', '185_52',
       '27B_38', '122_21', '84A_4', '145_99', '123_37', '66X_93', '41_22',
       '77A_31', '41C_83', '53_23', '40_28', '14C_17', '17_19', '25D_275',
       '27X_42', '46A_65', '68X_88', '83_27', '46A_72', '145_106',
       '41X_125', '145_93', '41_8', '15A_85', '15_19', '7_67', '39_23',
       '13_66', '31_16', '46A_71', '84X_61', '47_138', '145_95', '43_89',
       '38D_68', '41_20', '41X_122', '41X_123', '41X_124', '68A_87',
       '15B_64', '41C_84', '70_69', '7B_91', '185_61', '61_107', '40_29',
       '161_51', '33B_59', '145_86', '41X_127', '33D_62', '13_71',
       '145_87', '39A_41', '66B_55', '25X_12', '236_9', '66X_106',
       '69_46', '38B_40', '40_30', '220_14', '68_82', '150_10', '66_14',
       '40E_91', '84_29', '17_18', '25X_11', '145_107', '46A_70',
       '111_10', '120_8', '66X_95', '17_14', '66X_105', '27B_39',
       '70D_70', '46A_77', '238_12', '47_137', '77A_30', '83_21',
       '122_15', '145_94', '15B_56', '116_1', '145_108', '46E_93',
       '145_88', '116_3', '77X_61', '26_27', '25X_10', '145_89', '33_69',
       '39A_44', '84A_2', '44_39', '42D_51', '27B_25', '7D_120', '40E_90',
       '33_71', '46A_62', '84X_52', '14_13', '51D_47', '43_85', '45A_69',
       '41X_110', '161_52', '185_62', '45A_67', '69X_59', '83_29',
       '13_74', '63_29', '41X_126', '13_75', '46A_64', '70D_71', '27A_7',
       '66X_101', '41B_58', '41_25', '67X_41', '118_3', '15_20',
       '41X_116', '84X_53', '67X_40', '41X_109', '67X_39', '33X_47',
       '67X_42', '41X_120', '83_28', '66X_100', '41X_108', '39X_2',
       '120_10', '25B_276', '66X_97', '142_10', '66X_96', '25X_9',
       '41X_117', '32X_74', '41X_118', '41X_119', '51X_63', '25X_7',
       '66X_99', '25X_5', '140_16', '84X_59', '41_21', '7D_122', '33B_60',
       '44_35', '53_22', '84X_65', '27_21', '84X_64', '41X_130', '16D_30',
       '41X_129', '77X_62', '41_24', '15D_65', '33E_74', '41D_27',
       '41D_26', '41X_131', '44_38', '14C_10', '33D_76'], dtype=object)

In [8]:
trips

        DAYOFSERVICE   TRIPID LINEID
0         2018-02-07  6253783     68
1         2018-02-07  6262138    25B
2         2018-02-07  6254942    45A
3         2018-02-07  6259460    25A
4         2018-02-07  6253175     14
...              ...      ...    ...
2182632   2018-05-14  6765849    123
2182633   2018-05-14  6765469     75
2182634   2018-05-14  6765486    33D
2182635   2018-05-14  6764987     70
2182636   2018-05-14  6765012     27

[2182637 rows x 3 columns]

In [9]:
trips.nunique()

DAYOFSERVICE       360
TRIPID          658964
LINEID             130
dtype: int64

In [10]:
#trips = trips.drop_duplicates(subset=['TRIPID','LINEID','DIRECTION'],keep='first')
trips = trips.drop_duplicates(subset=['TRIPID','LINEID'],keep='first')

In [11]:
trips

        DAYOFSERVICE   TRIPID LINEID
0         2018-02-07  6253783     68
1         2018-02-07  6262138    25B
2         2018-02-07  6254942    45A
3         2018-02-07  6259460    25A
4         2018-02-07  6253175     14
...              ...      ...    ...
2178053   2018-05-27  6841018     11
2178054   2018-05-27  6841376     76
2178055   2018-05-27  6846574     76
2179536   2018-05-15  6762495    25A
2180715   2018-05-14  6762008     13

[658964 rows x 3 columns]

In [12]:
trips.nunique()

DAYOFSERVICE       347
TRIPID          658964
LINEID             130
dtype: int64

In [13]:
#trips = trips[['TRIPID','LINEID','DIRECTION']]
trips = trips[['TRIPID','LINEID']]

In [14]:
trips.sort_values('TRIPID')

         TRIPID LINEID
681660  5955221     14
723197  5955222     14
684398  5955223     14
719581  5955224     14
674864  5955225     14
...         ...    ...
26165   8592203     67
32940   8592204     67
57440   8592205     67
28895   8592206     67
57439   8592207     67

[658964 rows x 2 columns]

## Read leavetimes

#### notice: the whole file is too large and always cause memory error, I ll just test clean it use chunksize(check details in 3.1stopchunk), and just import the needed columns

In [15]:
leavetimes = pd.read_csv('rt_leavetimes_DB_2018.txt', sep=";",parse_dates=[0], usecols=['DAYOFSERVICE',
 'TRIPID',
 'PROGRNUMBER',
 'STOPPOINTID',
 'PLANNEDTIME_ARR',
 'PLANNEDTIME_DEP',
 'ACTUALTIME_ARR',
 'ACTUALTIME_DEP',
 'VEHICLEID'])

In [16]:
leavetimes.head(5)

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID
0,2018-01-01,5972116,12,119,48030,48030,48012,48012,2693211
1,2018-01-01,5966674,12,119,54001,54001,54023,54023,2693267
2,2018-01-01,5959105,12,119,60001,60001,59955,59955,2693263
3,2018-01-01,5966888,12,119,58801,58801,58771,58771,2693284
4,2018-01-01,5965960,12,119,56401,56401,56309,56323,2693209

## Merge the tripid

In [17]:
leavetimes = pd.merge(leavetimes,trips,how='left')

In [18]:
#leavetimes['LINE_DIRECTION'] = leavetimes['LINEID'] + '_' + leavetimes['DIRECTION'].astype(str)

In [19]:
#leavetimes.nunique()

#### check if there's tripid without any corresponding lineid and direction

## divide by lineid

In [20]:
cd ~/tmp/data/test

/home/team9/tmp/data/test

In [21]:
line=leavetimes.LINEID.unique()
print(line)

['1' '13' '37' '104' '11' '102' '151' '41' '65' '7A' '140' '84' '79A'
 '15A' '17' '44' '40B' '41C' '83A' '238' '25' '38A' '63' '4' '66A' '31'
 '150' '17A' '25B' '31A' '33' '27B' '32' '14' '67' '9' '61' '43' '130'
 '68' '15' '123' '122' '120' '47' '69' '39A' '76' '40' '70' '29A' '25A'
 '38' '49' '65B' '39' '45A' '42' '77A' '27' '54A' '46A' '27A' '40D' '7'
 '53' '33B' '75' '270' '18' '16' '41B' '145' '83' '79' '16C' '66' '15B'
 '185' '26' '56A' '33A' '14C' '59' '220' '184' '142' '114' '76A' '31B'
 '68A' '66B' '111' '236' '84A' '67X' '84X' '239' '42D' '66X' '116' '41X'
 '46E' '38B' '32X' '161' '7B' '118' '25X' '38D' '7D' '44B' '33X' '25D'
 '51D' '15D' '31D' '39X' '27X' '51X' '77X' '69X' '41A' '70D' '68X' '33D'
 '40E' '16D' '33E' '41D']

Line:  
['1' '13' '37' '104' '11' '102' '151' '41' '65' '7A' '140' '84' '79A'
 '15A' '17' '44' '40B' '41C' '83A' '238' '25' '38A' '63' '4' '66A' '31'
 '150' '17A' '25B' '31A' '33' '27B' '32' '14' '67' '9' '61' '43' '130'
 '68' '15' '123' '122' '120' '47' '69' '39A' '76' '40' '70' '29A' '25A'
 '38' '49' '65B' '39' '45A' '42' '77A' '27' '54A' '46A' '27A' '40D' '7'
 '53' '33B' '75' '270' '18' '16' '41B' '145' '83' '79' '16C' '66' '15B'
 '185' '26' '56A' '33A' '14C' '59' '220' '184' '142' '114' '76A' '31B'
 '68A' '66B' '111' '236' '84A' '67X' '84X' '239' '42D' '66X' '116' '41X'
 '46E' '38B' '32X' '161' '7B' '118' '25X' '38D' '7D' '44B' '33X' '25D'
 '51D' '15D' '31D' '39X' '27X' '51X' '77X' '69X' '41A' '70D' '68X' '33D'
 '40E' '16D' '33E' '41D']

In [22]:
# line46A_df_list = []
# chunksize = 10 ** 6
# for chunk in pd.read_csv("rt_leavetimes_DB_2018.txt", sep=';', chunksize=chunksize):
#    line39A_df_list.append(chunk[chunk['TRIPID'].isin(tripid_39A_list)])

# df_line39A = pd.concat(line46A_df_list)

In [23]:
for i in line:
    df=leavetimes[leavetimes.LINEID ==i]
    df.to_csv('leavetimes_'+ i+'.csv',index=True)