In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import classification_report
import seaborn as sns
from scipy import stats
from pathlib import Path
import pickle
import numpy as np

In [2]:
# display all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

### I tried to open the whole leavetimes csv and split it but there's always memory error
maybe too many people are working on the server, so in this file, I ll try to clean and merge data with chunksize first

In [3]:
cd ~/tmp/data

/home/team9/tmp/data

In [4]:
ls

Custom_location_53_345035_-6_267261_62b5c8e6c91d98000ba01ceb.csv
leavetimes/
rt_leavetimes_DB_2018.txt
rt_trips_DB_2018.txt
rt_vehicles_DB_2018.txt
rt_vehicles_DB_2018.zip
trips_modelling.csv
weather_factorised.csv
weather_trips.csv

## get unique tripid with lineid with direction

In [5]:
trips = pd.read_csv('rt_trips_DB_2018.txt', sep=";", parse_dates=[1])

In [6]:
trips

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,2018-02-07,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"
1,DB,2018-02-07,6262138,25B,25B_271,2,30517,26460,32752.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2580260,"
2,DB,2018-02-07,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2448968,"
3,DB,2018-02-07,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3094242,"
4,DB,2018-02-07,6253175,14,14_15,1,85383,81600,84682.0,81608.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2526331,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2182632,DB,2018-05-14,6765849,123,123_36,2,61560,57840,61365.0,57859.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3216350,"
2182633,DB,2018-05-14,6765469,75,75_17,1,53416,48600,NaN,48823.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2865284,"
2182634,DB,2018-05-14,6765486,33D,33D_62,2,29460,26400,29904.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3077688,"
2182635,DB,2018-05-14,6764987,70,70_60,1,65277,60600,66341.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3208841,"
2182636,DB,2018-05-14,6765012,27,27_19,1,47722,41700,47508.0,41642.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2960092,"

In [7]:
# get unique tripid with lineid with direction
def select_trip(x):
    x = x.drop_duplicates(subset=['TRIPID','LINEID','DIRECTION'],keep='first')
    x = x[['TRIPID','LINEID','DIRECTION']]
    return x

In [8]:
trips = select_trip(trips)

In [9]:
trips.nunique()

TRIPID       658964
LINEID          130
DIRECTION         2
dtype: int64

## read leavetimes in chunksize

In [10]:
# Read column names from file
cols = list(pd.read_csv("rt_leavetimes_DB_2018.txt", nrows =1))
print(cols)

['DATASOURCE;DAYOFSERVICE;TRIPID;PROGRNUMBER;STOPPOINTID;PLANNEDTIME_ARR;PLANNEDTIME_DEP;ACTUALTIME_ARR;ACTUALTIME_DEP;VEHICLEID;PASSENGERS;PASSENGERSIN;PASSENGERSOUT;DISTANCE;SUPPRESSED;JUSTIFICATIONID;LASTUPDATE;NOTE']

In [11]:
leavetimes = pd.read_csv('rt_leavetimes_DB_2018.txt', sep=";",parse_dates=[1], iterator=True,chunksize=5000000)

In [12]:
leavetimes = leavetimes.get_chunk(5000000)

In [13]:
leavetimes

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,2018-01-01,5972116,12,119,48030,48030,48012,48012,2693211,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
1,DB,2018-01-01,5966674,12,119,54001,54001,54023,54023,2693267,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
2,DB,2018-01-01,5959105,12,119,60001,60001,59955,59955,2693263,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
3,DB,2018-01-01,5966888,12,119,58801,58801,58771,58771,2693284,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
4,DB,2018-01-01,5965960,12,119,56401,56401,56309,56323,2693209,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,DB,2018-01-17,6118378,3,1283,31000,31000,31135,31147,1000698,NaN,NaN,NaN,NaN,NaN,NaN,25-JAN-18 18:02:03,NaN
4999996,DB,2018-01-17,6112763,2,4521,32634,32634,32802,32802,1000696,NaN,NaN,NaN,NaN,NaN,NaN,25-JAN-18 18:02:03,NaN
4999997,DB,2018-01-17,6118378,2,4521,30834,30834,30912,30956,1000698,NaN,NaN,NaN,NaN,NaN,NaN,25-JAN-18 18:02:03,NaN
4999998,DB,2018-01-17,6118378,1,7564,30600,30600,30566,30566,1000698,NaN,NaN,NaN,NaN,NaN,NaN,25-JAN-18 18:02:03,NaN
4999999,DB,2018-01-17,6106065,90,4595,61879,61879,62138,62138,2172252,NaN,NaN,NaN,NaN,NaN,NaN,25-JAN-18 18:02:03,NaN

In [14]:
leavetimes.nunique()

DATASOURCE             1
DAYOFSERVICE          17
TRIPID             43643
PROGRNUMBER          103
STOPPOINTID         4709
PLANNEDTIME_ARR    67129
PLANNEDTIME_DEP    67129
ACTUALTIME_ARR     70643
ACTUALTIME_DEP     70654
VEHICLEID            971
PASSENGERS             0
PASSENGERSIN           0
PASSENGERSOUT          0
DISTANCE               0
SUPPRESSED             2
JUSTIFICATIONID     1062
LASTUPDATE            17
NOTE                   0
dtype: int64

In [15]:
leavetimes['SUPPRESSED'].value_counts()

0.0    7481
1.0    3763
Name: SUPPRESSED, dtype: int64

In [16]:
leavetimes['SUPPRESSED'].isnull().sum()

4988756

In [17]:
leavetimes['JUSTIFICATIONID'].isnull().sum()

4988756

### drop the columns which always null or contains too many null values， drop constant column datasource

In [18]:
#leavetimes.drop(columns=['PASSENGERS','PASSENGERSIN','PASSENGERSOUT','DISTANCE','SUPPRESSED','JUSTIFICATIONID','LASTUPDATE','NOTE'],inplace=True)

In [19]:
def select_leavetimes(x):
    x.drop(columns=['DATASOURCE','PASSENGERS','PASSENGERSIN','PASSENGERSOUT','DISTANCE','SUPPRESSED','JUSTIFICATIONID','LASTUPDATE','NOTE'],inplace=True)

In [20]:
select_leavetimes(leavetimes)

In [21]:
leavetimes

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID
0,2018-01-01,5972116,12,119,48030,48030,48012,48012,2693211
1,2018-01-01,5966674,12,119,54001,54001,54023,54023,2693267
2,2018-01-01,5959105,12,119,60001,60001,59955,59955,2693263
3,2018-01-01,5966888,12,119,58801,58801,58771,58771,2693284
4,2018-01-01,5965960,12,119,56401,56401,56309,56323,2693209
...,...,...,...,...,...,...,...,...,...
4999995,2018-01-17,6118378,3,1283,31000,31000,31135,31147,1000698
4999996,2018-01-17,6112763,2,4521,32634,32634,32802,32802,1000696
4999997,2018-01-17,6118378,2,4521,30834,30834,30912,30956,1000698
4999998,2018-01-17,6118378,1,7564,30600,30600,30566,30566,1000698
4999999,2018-01-17,6106065,90,4595,61879,61879,62138,62138,2172252

In [22]:
leavetimes.columns.values.tolist()

['DAYOFSERVICE',
 'TRIPID',
 'PROGRNUMBER',
 'STOPPOINTID',
 'PLANNEDTIME_ARR',
 'PLANNEDTIME_DEP',
 'ACTUALTIME_ARR',
 'ACTUALTIME_DEP',
 'VEHICLEID']

## Merge the tripid

In [23]:
leavetimes = pd.merge(leavetimes,trips,how='left')

In [24]:
leavetimes

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,LINEID,DIRECTION
0,2018-01-01,5972116,12,119,48030,48030,48012,48012,2693211,1,1
1,2018-01-01,5966674,12,119,54001,54001,54023,54023,2693267,1,1
2,2018-01-01,5959105,12,119,60001,60001,59955,59955,2693263,1,1
3,2018-01-01,5966888,12,119,58801,58801,58771,58771,2693284,1,1
4,2018-01-01,5965960,12,119,56401,56401,56309,56323,2693209,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4999995,2018-01-17,6118378,3,1283,31000,31000,31135,31147,1000698,65B,1
4999996,2018-01-17,6112763,2,4521,32634,32634,32802,32802,1000696,65B,1
4999997,2018-01-17,6118378,2,4521,30834,30834,30912,30956,1000698,65B,1
4999998,2018-01-17,6118378,1,7564,30600,30600,30566,30566,1000698,65B,1
4999999,2018-01-17,6106065,90,4595,61879,61879,62138,62138,2172252,27,2

In [25]:
leavetimes['LINE_DIRECTION'] = leavetimes['LINEID'] + '_' + leavetimes['DIRECTION'].astype(str)

In [26]:
leavetimes.nunique()

DAYOFSERVICE          17
TRIPID             43643
PROGRNUMBER          103
STOPPOINTID         4709
PLANNEDTIME_ARR    67129
PLANNEDTIME_DEP    67129
ACTUALTIME_ARR     70643
ACTUALTIME_DEP     70654
VEHICLEID            971
LINEID               125
DIRECTION              2
LINE_DIRECTION       244
dtype: int64

In [27]:
leavetimes['LINEID'].isnull().sum()

0

In [28]:
leavetimes['DIRECTION'].isnull().sum()

0

In [29]:
leavetimes

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,LINEID,DIRECTION,LINE_DIRECTION
0,2018-01-01,5972116,12,119,48030,48030,48012,48012,2693211,1,1,1_1
1,2018-01-01,5966674,12,119,54001,54001,54023,54023,2693267,1,1,1_1
2,2018-01-01,5959105,12,119,60001,60001,59955,59955,2693263,1,1,1_1
3,2018-01-01,5966888,12,119,58801,58801,58771,58771,2693284,1,1,1_1
4,2018-01-01,5965960,12,119,56401,56401,56309,56323,2693209,1,1,1_1
...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,2018-01-17,6118378,3,1283,31000,31000,31135,31147,1000698,65B,1,65B_1
4999996,2018-01-17,6112763,2,4521,32634,32634,32802,32802,1000696,65B,1,65B_1
4999997,2018-01-17,6118378,2,4521,30834,30834,30912,30956,1000698,65B,1,65B_1
4999998,2018-01-17,6118378,1,7564,30600,30600,30566,30566,1000698,65B,1,65B_1
4999999,2018-01-17,6106065,90,4595,61879,61879,62138,62138,2172252,27,2,27_2

In [30]:
leavetimes[leavetimes.LINEID=='27']

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,LINEID,DIRECTION,LINE_DIRECTION
56411,2018-01-01,5956632,42,4495,65955,65955,65554,65684,2172288,27,1,27_1
56412,2018-01-01,5956630,42,4495,54031,54031,53831,53831,2172288,27,1,27_1
56413,2018-01-01,5962312,42,4495,52831,52831,52720,52745,2172247,27,1,27_1
56414,2018-01-01,5962310,42,4495,40231,40231,40086,40103,2172247,27,1,27_1
56415,2018-01-01,5961854,42,4495,50431,50431,50247,50280,2172251,27,1,27_1
...,...,...,...,...,...,...,...,...,...,...,...,...
4995320,2018-01-17,6117636,1,2353,54000,54000,54611,54611,2172248,27,2,27_2
4995321,2018-01-17,6121136,1,2353,51600,51600,51828,51828,1932366,27,2,27_2
4995322,2018-01-17,6115954,1,2353,53400,53400,53758,53758,2172249,27,2,27_2
4995323,2018-01-17,6117368,1,2353,56400,56400,56431,56431,2172293,27,2,27_2
4999999,2018-01-17,6106065,90,4595,61879,61879,62138,62138,2172252,27,2,27_2

In [31]:
line=leavetimes.LINEID.unique()
print(line)

['1' '13' '37' '104' '11' '102' '151' '41' '65' '7A' '140' '84' '79A'
 '15A' '17' '44' '40B' '41C' '83A' '238' '25' '38A' '63' '4' '66A' '31'
 '150' '17A' '25B' '31A' '33' '27B' '32' '14' '67' '9' '61' '43' '130'
 '68' '15' '123' '122' '120' '47' '69' '39A' '76' '40' '70' '29A' '25A'
 '38' '49' '65B' '39' '45A' '42' '77A' '27' '54A' '46A' '27A' '40D' '7'
 '53' '33B' '75' '270' '18' '16' '41B' '145' '83' '79' '16C' '66' '15B'
 '185' '26' '56A' '33A' '14C' '59' '220' '184' '142' '114' '76A' '31B'
 '68A' '66B' '111' '236' '84A' '67X' '84X' '239' '42D' '66X' '116' '41X'
 '46E' '38B' '32X' '161' '7B' '118' '25X' '38D' '7D' '44B' '33X' '25D'
 '51D' '15D' '31D' '39X' '27X' '51X' '77X' '69X' '41A' '70D' '68X']

### use 39A file as a test

In [32]:
cd ~/tmp/data/leavetimes

/home/team9/tmp/data/leavetimes

In [33]:
test_39A = pd.read_csv('leavetimes_39A.csv', sep=",")

In [34]:
# sort by tripid
test_39A = test_39A.sort_values(by=['DAYOFSERVICE','TRIPID','PROGRNUMBER'])

In [35]:
test_39A = test_39A.reset_index(drop=True)

### add journey time and delete outlier and null

In [36]:
test_39A.head(100)

,Unnamed: 0,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,LINEID
0,133853,2018-01-01,5959380,1,767,32400,32400,32323,32323,2172316,39A
1,134113,2018-01-01,5959380,2,768,32503,32503,32461,32461,2172316,39A
2,134140,2018-01-01,5959380,3,769,32527,32527,32481,32481,2172316,39A
3,134168,2018-01-01,5959380,4,770,32565,32565,32510,32510,2172316,39A
4,134430,2018-01-01,5959380,5,771,32581,32581,32520,32520,2172316,39A
5,134457,2018-01-01,5959380,6,772,32613,32613,32548,32548,2172316,39A
6,134722,2018-01-01,5959380,7,773,32644,32644,32562,32562,2172316,39A
7,134751,2018-01-01,5959380,8,774,32680,32680,32578,32578,2172316,39A
8,134778,2018-01-01,5959380,9,775,32729,32729,32612,32623,2172316,39A
9,135048,2018-01-01,5959380,10,776,32762,32762,32655,32655,2172316,39A
10,135073,2018-01-01,5959380,11,777,32792,32792,32670,32670,2172316,39A
11,135104,2018-01-01,5959380,12,779,32828,32828,32697,32697,2172316,39A
12,135367,2018-01-01,5959380,13,780,32870,32870,32718,32718,2172316,39A
13,135394,2018-01-01,5959380,14,781,32899,32899,32738,32748,2172316,39A
14,98571,2018-01-01,5959380,15,782,32925,32925,32788,32806,2172316,39A
15,98599,2018-01-01,5959380,16,783,32965,32965,32841,32857,2172316,39A
16,98627,2018-01-01,5959380,17,784,32987,32987,32876,32876,2172316,39A
17,98895,2018-01-01,5959380,18,785,33025,33025,32910,32910,2172316,39A
18,98924,2018-01-01,5959380,19,786,33102,33102,32963,32963,2172316,39A
19,98951,2018-01-01,5959380,20,793,33216,33216,33064,33064,2172316,39A
20,99222,2018-01-01,5959380,21,7576,33225,33225,33065,33065,2172316,39A
21,99494,2018-01-01,5959380,23,7586,33347,33347,33199,33199,2172316,39A
22,9478042,2018-01-01,5959380,24,7587,33481,33481,33340,33340,2172316,39A
23,99551,2018-01-01,5959380,25,7588,33523,33523,33356,33356,2172316,39A
24,99819,2018-01-01,5959380,26,328,33674,33674,33592,33644,2172316,39A
25,99847,2018-01-01,5959380,27,1443,33779,33779,33720,33720,2172316,39A
26,99877,2018-01-01,5959380,28,1444,33836,33836,33742,33742,2172316,39A
27,100143,2018-01-01,5959380,29,1445,33898,33898,33766,33766,2172316,39A
28,100175,2018-01-01,5959380,30,1647,34003,34003,33818,33818,2172316,39A
29,9483365,2018-01-01,5959380,31,1648,34070,34070,33861,33861,2172316,39A
30,100470,2018-01-01,5959380,32,1649,34092,34092,33878,33878,2172316,39A
31,100499,2018-01-01,5959380,33,1911,34150,34150,33924,33940,2172316,39A
32,100765,2018-01-01,5959380,34,1913,34190,34190,33976,33976,2172316,39A
33,100793,2018-01-01,5959380,35,1914,34219,34219,33996,33996,2172316,39A
34,100822,2018-01-01,5959380,36,1805,34251,34251,34016,34024,2172316,39A
35,101089,2018-01-01,5959380,37,1806,34312,34312,34088,34097,2172316,39A
36,101117,2018-01-01,5959380,38,1660,34379,34379,34165,34165,2172316,39A
37,101384,2018-01-01,5959380,39,1661,34411,34411,34187,34187,2172316,39A
38,9488134,2018-01-01,5959380,40,1662,34447,34447,34216,34234,2172316,39A
39,153714,2018-01-01,5959380,41,1664,34500,34500,34287,34287,2172316,39A
40,153744,2018-01-01,5959380,42,1665,34533,34533,34314,34314,2172316,39A
41,154009,2018-01-01,5959380,43,1666,34573,34573,34331,34331,2172316,39A
42,154038,2018-01-01,5959380,44,1807,34636,34636,34385,34385,2172316,39A
43,9483921,2018-01-01,5959380,45,7167,34665,34665,34410,34410,2172316,39A
44,154329,2018-01-01,5959380,46,1808,34731,34731,34460,34470,2172316,39A
45,154358,2018-01-01,5959380,47,7389,34885,34885,34622,34632,2172316,39A
46,154387,2018-01-01,5959380,48,7025,35120,35120,34798,34815,2172316,39A
47,154645,2018-01-01,5959380,49,4464,35184,35184,34882,34882,2172316,39A
48,154675,2018-01-01,5959380,50,1869,35212,35212,34899,34899,2172316,39A
49,154933,2018-01-01,5959380,51,1870,35240,35240,34917,34917,2172316,39A
50,154964,2018-01-01,5959380,52,1871,35276,35276,34943,34943,2172316,39A
51,154992,2018-01-01,5959380,53,1872,35313,35313,34969,34984,2172316,39A
52,155248,2018-01-01,5959380,54,1873,35355,35355,35019,35019,2172316,39A
53,155278,2018-01-01,5959380,55,1874,35392,35392,35042,35042,2172316,39A
54,155308,2018-01-01,5959380,56,1875,35423,35423,35063,35063,2172316,39A
55,155568,2018-01-01,5959380,57,1876,35454,35454,35093,35102,2172316,39A
56,155598,2018-01-01,5959380,58,1877,35501,35501,35139,35139,2172316,39A
57,155832,2018-01-01,5959380,59,1878,35524,35524,35171,35171,2172316,39A
58,38494,2018-01-01,5959380,60,1879,35549,35549,35206,35221,2172316,39A
59,38520,2018-01-01,5959380,61,1899,35575,35575,35268,35268,2172316,39A
60,38782,2018-01-01,5959380,62,6107,35588,35588,35301,35301,2172316,39A
61,9498934,2018-01-01,5959380,63,6108,35607,35607,35324,35324,2172316,39A
62,40012,2018-01-01,5959380,64,6109,35629,35629,35375,35375,2172316,39A
63,39101,2018-01-01,5959380,65,6110,35665,35665,35419,35419,2172316,39A
64,39131,2018-01-01,5959380,66,7020,35698,35698,35466,35476,2172316,39A
65,39158,2018-01-01,5959380,67,7029,35710,35710,35494,35494,2172316,39A
66,39417,2018-01-01,5959380,68,7038,35732,35732,35534,35546,2172316,39A
67,39445,2018-01-01,5959380,69,7011,35763,35763,35606,35606,2172316,39A
68,39700,2018-01-01,5959380,70,2171,35808,35808,35679,35679,2172316,39A
69,39728,2018-01-01,5959380,71,7160,35817,35817,35688,35703,2172316,39A
70,39754,2018-01-01,5959380,72,7047,35848,35848,35761,35761,2172316,39A
71,40004,2018-01-01,5959380,73,7161,35869,35869,35794,35806,2172316,39A
72,9502584,2018-01-01,5959380,74,7162,35889,35889,35838,35838,2172316,39A
73,67345,2018-01-01,5959381,1,7158,36900,36900,36893,36893,2172316,39A
74,67376,2018-01-01,5959381,2,7048,36943,36943,36904,36904,2172316,39A
75,67639,2018-01-01,5959381,3,7159,37016,37016,36964,36964,2172316,39A
76,67668,2018-01-01,5959381,4,7388,37036,37036,36973,36973,2172316,39A
77,67699,2018-01-01,5959381,5,7017,37140,37140,37053,37072,2172316,39A
78,67968,2018-01-01,5959381,6,7018,37192,37192,37124,37141,2172316,39A
79,67996,2018-01-01,5959381,7,7030,37245,37245,37192,37192,2172316,39A
80,68265,2018-01-01,5959381,8,7021,37276,37276,37210,37210,2172316,39A
81,68299,2018-01-01,5959381,9,6111,37334,37334,37252,37267,2172316,39A
82,68326,2018-01-01,5959381,10,6112,37409,37409,37310,37310,2172316,39A
83,68587,2018-01-01,5959381,11,6113,37490,37490,37386,37386,2172316,39A
84,68619,2018-01-01,5959381,12,1898,37518,37518,37450,37450,2172316,39A
85,68872,2018-01-01,5959381,13,1858,37588,37588,37510,37523,2172316,39A
86,68898,2018-01-01,5959381,14,1859,37646,37646,37552,37552,2172316,39A
87,9483052,2018-01-01,5959381,15,1860,37713,37713,37584,37602,2172316,39A
88,69189,2018-01-01,5959381,16,4492,37748,37748,37626,37640,2172316,39A
89,69222,2018-01-01,5959381,17,1861,37786,37786,37666,37676,2172316,39A
90,69464,2018-01-01,5959381,18,1862,37832,37832,37711,37765,2172316,39A
91,69495,2018-01-01,5959381,19,1863,37877,37877,37791,37791,2172316,39A
92,69524,2018-01-01,5959381,20,1864,37918,37918,37817,37837,2172316,39A
93,69769,2018-01-01,5959381,21,1865,37971,37971,37875,37892,2172316,39A
94,69801,2018-01-01,5959381,22,1866,38023,38023,37920,37920,2172316,39A
95,69828,2018-01-01,5959381,23,1850,38087,38087,37948,37948,2172316,39A
96,70054,2018-01-01,5959381,24,1867,38128,38128,37967,37981,2172316,39A
97,70085,2018-01-01,5959381,25,4489,38144,38144,37998,37998,2172316,39A
98,70324,2018-01-01,5959381,26,4747,38220,38220,38071,38105,2172316,39A
99,70353,2018-01-01,5959381,27,1845,38712,38712,38399,38399,2172316,39A

### connect with the previous stoppinid and arrivial time

In [37]:
test_39A['PRESTOPID']=test_39A['STOPPOINTID']

In [38]:
test_39A['PRESTOPID']=test_39A['PRESTOPID'].shift(1)

In [39]:
test_39A.head(50)

,Unnamed: 0,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,LINEID,PRESTOPID
0,133853,2018-01-01,5959380,1,767,32400,32400,32323,32323,2172316,39A,NaN
1,134113,2018-01-01,5959380,2,768,32503,32503,32461,32461,2172316,39A,767.0
2,134140,2018-01-01,5959380,3,769,32527,32527,32481,32481,2172316,39A,768.0
3,134168,2018-01-01,5959380,4,770,32565,32565,32510,32510,2172316,39A,769.0
4,134430,2018-01-01,5959380,5,771,32581,32581,32520,32520,2172316,39A,770.0
5,134457,2018-01-01,5959380,6,772,32613,32613,32548,32548,2172316,39A,771.0
6,134722,2018-01-01,5959380,7,773,32644,32644,32562,32562,2172316,39A,772.0
7,134751,2018-01-01,5959380,8,774,32680,32680,32578,32578,2172316,39A,773.0
8,134778,2018-01-01,5959380,9,775,32729,32729,32612,32623,2172316,39A,774.0
9,135048,2018-01-01,5959380,10,776,32762,32762,32655,32655,2172316,39A,775.0
10,135073,2018-01-01,5959380,11,777,32792,32792,32670,32670,2172316,39A,776.0
11,135104,2018-01-01,5959380,12,779,32828,32828,32697,32697,2172316,39A,777.0
12,135367,2018-01-01,5959380,13,780,32870,32870,32718,32718,2172316,39A,779.0
13,135394,2018-01-01,5959380,14,781,32899,32899,32738,32748,2172316,39A,780.0
14,98571,2018-01-01,5959380,15,782,32925,32925,32788,32806,2172316,39A,781.0
15,98599,2018-01-01,5959380,16,783,32965,32965,32841,32857,2172316,39A,782.0
16,98627,2018-01-01,5959380,17,784,32987,32987,32876,32876,2172316,39A,783.0
17,98895,2018-01-01,5959380,18,785,33025,33025,32910,32910,2172316,39A,784.0
18,98924,2018-01-01,5959380,19,786,33102,33102,32963,32963,2172316,39A,785.0
19,98951,2018-01-01,5959380,20,793,33216,33216,33064,33064,2172316,39A,786.0
20,99222,2018-01-01,5959380,21,7576,33225,33225,33065,33065,2172316,39A,793.0
21,99494,2018-01-01,5959380,23,7586,33347,33347,33199,33199,2172316,39A,7576.0
22,9478042,2018-01-01,5959380,24,7587,33481,33481,33340,33340,2172316,39A,7586.0
23,99551,2018-01-01,5959380,25,7588,33523,33523,33356,33356,2172316,39A,7587.0
24,99819,2018-01-01,5959380,26,328,33674,33674,33592,33644,2172316,39A,7588.0
25,99847,2018-01-01,5959380,27,1443,33779,33779,33720,33720,2172316,39A,328.0
26,99877,2018-01-01,5959380,28,1444,33836,33836,33742,33742,2172316,39A,1443.0
27,100143,2018-01-01,5959380,29,1445,33898,33898,33766,33766,2172316,39A,1444.0
28,100175,2018-01-01,5959380,30,1647,34003,34003,33818,33818,2172316,39A,1445.0
29,9483365,2018-01-01,5959380,31,1648,34070,34070,33861,33861,2172316,39A,1647.0
30,100470,2018-01-01,5959380,32,1649,34092,34092,33878,33878,2172316,39A,1648.0
31,100499,2018-01-01,5959380,33,1911,34150,34150,33924,33940,2172316,39A,1649.0
32,100765,2018-01-01,5959380,34,1913,34190,34190,33976,33976,2172316,39A,1911.0
33,100793,2018-01-01,5959380,35,1914,34219,34219,33996,33996,2172316,39A,1913.0
34,100822,2018-01-01,5959380,36,1805,34251,34251,34016,34024,2172316,39A,1914.0
35,101089,2018-01-01,5959380,37,1806,34312,34312,34088,34097,2172316,39A,1805.0
36,101117,2018-01-01,5959380,38,1660,34379,34379,34165,34165,2172316,39A,1806.0
37,101384,2018-01-01,5959380,39,1661,34411,34411,34187,34187,2172316,39A,1660.0
38,9488134,2018-01-01,5959380,40,1662,34447,34447,34216,34234,2172316,39A,1661.0
39,153714,2018-01-01,5959380,41,1664,34500,34500,34287,34287,2172316,39A,1662.0
40,153744,2018-01-01,5959380,42,1665,34533,34533,34314,34314,2172316,39A,1664.0
41,154009,2018-01-01,5959380,43,1666,34573,34573,34331,34331,2172316,39A,1665.0
42,154038,2018-01-01,5959380,44,1807,34636,34636,34385,34385,2172316,39A,1666.0
43,9483921,2018-01-01,5959380,45,7167,34665,34665,34410,34410,2172316,39A,1807.0
44,154329,2018-01-01,5959380,46,1808,34731,34731,34460,34470,2172316,39A,7167.0
45,154358,2018-01-01,5959380,47,7389,34885,34885,34622,34632,2172316,39A,1808.0
46,154387,2018-01-01,5959380,48,7025,35120,35120,34798,34815,2172316,39A,7389.0
47,154645,2018-01-01,5959380,49,4464,35184,35184,34882,34882,2172316,39A,7025.0
48,154675,2018-01-01,5959380,50,1869,35212,35212,34899,34899,2172316,39A,4464.0
49,154933,2018-01-01,5959380,51,1870,35240,35240,34917,34917,2172316,39A,1869.0

In [40]:
test_39A['PRE_PLANNEDTIME_ARR']=test_39A['PLANNEDTIME_ARR']
test_39A['PRE_PLANNEDTIME_ARR']=test_39A['PRE_PLANNEDTIME_ARR'].shift(1)

In [41]:
test_39A['PRE_ACTUALTIME_ARR']=test_39A['ACTUALTIME_ARR']
test_39A['PRE_ACTUALTIME_ARR']=test_39A['PRE_ACTUALTIME_ARR'].shift(1)

In [42]:
test_39A['PLANNED_JOURNEY_TIME']=test_39A['PLANNEDTIME_ARR']-test_39A['PRE_PLANNEDTIME_ARR']

In [43]:
test_39A['ACTUAL_JOURNEY_TIME']=test_39A['ACTUALTIME_ARR']-test_39A['PRE_ACTUALTIME_ARR']

In [44]:
# test_39A=  test_39A.drop(index = test_39A[(test_39A.PLANNED_JOURNEY_TIME <=0)].index.tolist())
# test_39A=  test_39A.drop(index = test_39A[(test_39A.ACTUAL_JOURNEY_TIME <=0)].index.tolist())

In [45]:
test_39A = test_39A.loc[test_39A['PROGRNUMBER'] != 1]

In [46]:
test_39A

,Unnamed: 0,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,LINEID,PRESTOPID,PRE_PLANNEDTIME_ARR,PRE_ACTUALTIME_ARR,PLANNED_JOURNEY_TIME,ACTUAL_JOURNEY_TIME
1,134113,2018-01-01,5959380,2,768,32503,32503,32461,32461,2172316,39A,767.0,32400.0,32323.0,103.0,138.0
2,134140,2018-01-01,5959380,3,769,32527,32527,32481,32481,2172316,39A,768.0,32503.0,32461.0,24.0,20.0
3,134168,2018-01-01,5959380,4,770,32565,32565,32510,32510,2172316,39A,769.0,32527.0,32481.0,38.0,29.0
4,134430,2018-01-01,5959380,5,771,32581,32581,32520,32520,2172316,39A,770.0,32565.0,32510.0,16.0,10.0
5,134457,2018-01-01,5959380,6,772,32613,32613,32548,32548,2172316,39A,771.0,32581.0,32520.0,32.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809921,57030779,2018-06-28,7115833,56,749,35461,35461,36694,36716,2693197,39A,748.0,35373.0,36607.0,88.0,87.0
1809922,57035272,2018-06-28,7115833,57,750,35523,35523,36784,36803,2693197,39A,749.0,35461.0,36694.0,62.0,90.0
1809923,57039724,2018-06-28,7115833,58,751,35584,35584,36899,36899,2693197,39A,750.0,35523.0,36784.0,61.0,115.0
1809924,57044117,2018-06-28,7115833,59,752,35660,35660,36921,36936,2693197,39A,751.0,35584.0,36899.0,76.0,22.0
1809925,57021848,2018-06-28,7115833,71,767,36316,36316,37640,37640,2693197,39A,752.0,35660.0,36921.0,656.0,719.0