In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [2]:
ls

DataAnalytics_dublin_bus_DASK.ipynb  git_environment/
DataAnalyticsInitialiser.ipynb       miniconda3/
DataAnalytics.ipynb                  Miniconda3-latest-Linux-x86_64.sh*
datafile.tar.gz                      tmp/

In [3]:
cd tmp

/home/team9/tmp

In [4]:
ls

data/

In [5]:
cd data

/home/team9/tmp/data

In [37]:
trips = pd.read_csv('rt_trips_DB_2018.txt', sep=";")

In [45]:
trips

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE,LINE_DIRECTION
0,DB,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,",68_1
1,DB,07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2580260,",25B_2
2,DB,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2448968,",45A_2
3,DB,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3094242,",25A_1
4,DB,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2526331,",14_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2182632,DB,14-MAY-18 00:00:00,6765849,123,123_36,2,61560,57840,61365.0,57859.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3216350,",123_2
2182633,DB,14-MAY-18 00:00:00,6765469,75,75_17,1,53416,48600,NaN,48823.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2865284,",75_1
2182634,DB,14-MAY-18 00:00:00,6765486,33D,33D_62,2,29460,26400,29904.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3077688,",33D_2
2182635,DB,14-MAY-18 00:00:00,6764987,70,70_60,1,65277,60600,66341.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3208841,",70_1
2182636,DB,14-MAY-18 00:00:00,6765012,27,27_19,1,47722,41700,47508.0,41642.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2960092,",27_1

In [27]:
trips.describe()

,TRIPID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,TENDERLOT,SUPPRESSED,JUSTIFICATIONID
count,2.182637e+06,2.182637e+06,2.182637e+06,2.182637e+06,2.045430e+06,2.018086e+06,0.0,4333.0,4330.000000
mean,7.149479e+06,1.504103e+00,5.507875e+04,5.153329e+04,5.506239e+04,5.170612e+04,NaN,0.0,237554.867667
std,7.314423e+05,4.999833e-01,1.742482e+04,1.757164e+04,1.733870e+04,1.752695e+04,NaN,0.0,34585.051789
min,5.955221e+06,1.000000e+00,1.820300e+04,1.620000e+04,1.754600e+04,1.597400e+04,NaN,0.0,177856.000000
25%,6.592584e+06,1.000000e+00,3.968300e+04,3.600000e+04,3.966800e+04,3.651800e+04,NaN,0.0,205506.500000
50%,7.110090e+06,2.000000e+00,5.527600e+04,5.160000e+04,5.518900e+04,5.161800e+04,NaN,0.0,233851.500000
75%,8.018241e+06,2.000000e+00,6.900600e+04,6.516000e+04,6.901900e+04,6.539800e+04,NaN,0.0,271506.750000
max,8.592207e+06,2.000000e+00,9.168000e+04,8.760000e+04,9.437800e+04,9.717700e+04,NaN,0.0,297899.000000

In [26]:
haveDepTime = trips[trips["ACTUALTIME_DEP"].notnull()]
haveDep_ArrTime = haveDepTime[haveDepTime["ACTUALTIME_ARR"].notnull()]
haveDep_ArrTime

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"
2,DB,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2448968,"
3,DB,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3094242,"
4,DB,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2526331,"
5,DB,07-FEB-18 00:00:00,6248240,77A,77A_28,2,41648,37200,42019.0,37538.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2966500,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2182629,DB,14-MAY-18 00:00:00,6765652,53,53_21,2,30626,29100,30482.0,29119.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3024762,"
2182630,DB,14-MAY-18 00:00:00,6765662,53,53_21,2,65950,64800,66270.0,64815.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3024821,"
2182631,DB,14-MAY-18 00:00:00,6765828,45A,45A_68,1,28647,25800,28688.0,25858.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2448734,"
2182632,DB,14-MAY-18 00:00:00,6765849,123,123_36,2,61560,57840,61365.0,57859.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3216350,"
2182636,DB,14-MAY-18 00:00:00,6765012,27,27_19,1,47722,41700,47508.0,41642.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2960092,"

In [29]:
print(trips.shape[0] - haveDep_ArrTime.shape[0], 'trips are missing either actual departure or arrival times')

289270 trips are missing either actual departure or arrival times

In [8]:
trips.nunique()

DATASOURCE              1
DAYOFSERVICE          360
TRIPID             658964
LINEID                130
ROUTEID               588
DIRECTION               2
PLANNEDTIME_ARR     64461
PLANNEDTIME_DEP       791
ACTUALTIME_ARR      68122
ACTUALTIME_DEP      66771
BASIN                   1
TENDERLOT               0
SUPPRESSED              1
JUSTIFICATIONID      3526
LASTUPDATE            360
NOTE                46690
dtype: int64

- 360 days of service - seems to be one for every day
- only 650k trip IDs but over 2 million lines - need to see why

In [9]:
trips.loc[trips['TRIPID']==6765486]

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
470885,DB,17-MAY-18 00:00:00,6765486,33D,33D_62,2,29460,26400,30676.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:42:42,",3077688,"
2071391,DB,18-MAY-18 00:00:00,6765486,33D,33D_62,2,29460,26400,29846.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:52:33,",3077688,"
2172425,DB,16-MAY-18 00:00:00,6765486,33D,33D_62,2,29460,26400,30102.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:32:53,",3077688,"
2179562,DB,15-MAY-18 00:00:00,6765486,33D,33D_62,2,29460,26400,30403.0,26416.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:23:03,",3077688,"
2182634,DB,14-MAY-18 00:00:00,6765486,33D,33D_62,2,29460,26400,29904.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3077688,"

Looks like the trip IDs are sometimes duplicated but on different days. Need to see if they are ever duplicated on the same day

In [10]:
sub_trips = trips[["DAYOFSERVICE", "TRIPID"]]

In [11]:
print(sub_trips.duplicated().sum(), "duplicated trip IDs on the same day.")

0 duplicated trip IDs on the same day.

Therefore trip ID is never reused on the same day.
- Can use it and day as a unique identifier

In [44]:
trips.dtypes

DATASOURCE          object
DAYOFSERVICE        object
TRIPID               int64
LINEID              object
ROUTEID             object
DIRECTION           object
PLANNEDTIME_ARR      int64
PLANNEDTIME_DEP      int64
ACTUALTIME_ARR     float64
ACTUALTIME_DEP     float64
BASIN               object
TENDERLOT          float64
SUPPRESSED         float64
JUSTIFICATIONID    float64
LASTUPDATE          object
NOTE                object
LINE_DIRECTION      object
dtype: object

Next I will determine the hour of departure for the trip and the travel time

In [64]:
# dividing by seconds and minutes
trips['HOUR_DEPARTURE'] = trips['ACTUALTIME_DEP'].apply(lambda row: row//3600)

In [65]:
# getting arrival time minus departure, then dividing by 60 seconds
trips['JOURNEY_TIME'] = (trips['ACTUALTIME_ARR'] - trips['ACTUALTIME_DEP']).apply(lambda row: row/60)

In [63]:
trips.describe()

,TRIPID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,HOUR_DEPARTURE,JOURNEY_TIME
count,2.182637e+06,2.182637e+06,2.182637e+06,2.045430e+06,2.018086e+06,0.0,4333.0,4330.000000,2.018086e+06,1.893367e+06
mean,7.149479e+06,5.507875e+04,5.153329e+04,5.506239e+04,5.170612e+04,NaN,0.0,237554.867667,1.387845e+01,6.422932e+01
std,7.314423e+05,1.742482e+04,1.757164e+04,1.733870e+04,1.752695e+04,NaN,0.0,34585.051789,4.881017e+00,2.391304e+01
min,5.955221e+06,1.820300e+04,1.620000e+04,1.754600e+04,1.597400e+04,NaN,0.0,177856.000000,4.000000e+00,-2.477667e+02
25%,6.592584e+06,3.968300e+04,3.600000e+04,3.966800e+04,3.651800e+04,NaN,0.0,205506.500000,1.000000e+01,4.671667e+01
50%,7.110090e+06,5.527600e+04,5.160000e+04,5.518900e+04,5.161800e+04,NaN,0.0,233851.500000,1.400000e+01,6.286667e+01
75%,8.018241e+06,6.900600e+04,6.516000e+04,6.901900e+04,6.539800e+04,NaN,0.0,271506.750000,1.800000e+01,8.075000e+01
max,8.592207e+06,9.168000e+04,8.760000e+04,9.437800e+04,9.717700e+04,NaN,0.0,297899.000000,2.600000e+01,3.909667e+02

Below I am creating a new categorical column, with each category representing a route in a particular direction

In [40]:
# trips['LINEID'] = trips['LINEID'].astype('category')
trips['DIRECTION'] = trips['DIRECTION'].astype('object')

In [43]:
trips['LINE_DIRECTION'] = trips['LINEID'] + '_' + trips['DIRECTION'].astype(str)

In [46]:
trips['LINE_DIRECTION'] = trips['LINE_DIRECTION'].astype('category')

In [51]:
print(len(trips['LINE_DIRECTION'].unique().tolist()),'categories')

252 categories

In [52]:
fortySixA1 = [trips["LINE_DIRECTION"] == "46A_1"]

In [53]:
fortySixA1

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE,LINE_DIRECTION
15,DB,07-FEB-18 00:00:00,6253924,46A,46A_74,1,65768,60960,66075.0,60926.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3059400,",46A_1
20,DB,07-FEB-18 00:00:00,6262164,46A,46A_74,1,28877,24480,29657.0,24697.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3059412,",46A_1
203,DB,11-MAR-18 00:00:00,6397655,46A,46A_74,1,86458,83700,87190.0,83653.0,BasDef,NaN,NaN,NaN,19-MAR-18 15:02:59,",2453090,",46A_1
204,DB,11-MAR-18 00:00:00,6392156,46A,46A_74,1,80158,77400,80661.0,77400.0,BasDef,NaN,NaN,NaN,19-MAR-18 15:02:59,",2453506,",46A_1
205,DB,11-MAR-18 00:00:00,6392515,46A,46A_74,1,78358,75600,78412.0,75633.0,BasDef,NaN,NaN,NaN,19-MAR-18 15:02:59,",2457913,",46A_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2182283,DB,15-MAY-18 00:00:00,6763274,46A,46A_74,1,39339,35040,39593.0,35040.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:23:03,",3061067,",46A_1
2182320,DB,15-MAY-18 00:00:00,6753808,46A,46A_74,1,62027,57120,61827.0,57111.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:23:03,",3064343,",46A_1
2182458,DB,15-MAY-18 00:00:00,6764906,46A,46A_74,1,49598,45120,49279.0,45157.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:23:03,",2963552,",46A_1
2182470,DB,15-MAY-18 00:00:00,6762038,46A,46A_74,1,65510,60480,66254.0,60456.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:23:03,",3063207,",46A_1
2182535,DB,14-MAY-18 00:00:00,6763192,46A,46A_74,1,65330,60300,64953.0,60273.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2960499,",46A_1

In [54]:
fortySixA1.describe()

,TRIPID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,TENDERLOT,SUPPRESSED,JUSTIFICATIONID
count,3.874500e+04,38745.000000,38745.000000,37084.000000,36965.000000,0.0,42.0,42.000000
mean,7.154266e+06,55383.485585,51364.402633,55565.173174,51328.886298,NaN,0.0,236781.142857
std,7.404477e+05,16916.814639,17112.325775,16891.065212,17067.947858,NaN,0.0,36829.008734
min,5.955251e+06,20507.000000,18900.000000,20611.000000,18798.000000,NaN,0.0,185831.000000
25%,6.583774e+06,40581.000000,36540.000000,40828.500000,36562.000000,NaN,0.0,204579.250000
50%,7.109717e+06,55542.000000,51360.000000,55740.500000,51160.000000,NaN,0.0,233927.500000
75%,8.020850e+06,69355.000000,64800.000000,69563.000000,64835.000000,NaN,0.0,272256.250000
max,8.591174e+06,87162.000000,84600.000000,88928.000000,85047.000000,NaN,0.0,297898.000000

In [18]:
leavetimes = pd.read_csv('rt_leavetimes_DB_2018.txt', sep=";", nrows=10000)

In [19]:
leavetimes

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,01-JAN-18 00:00:00,5972116,12,119,48030,48030,48012,48012,2693211,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
1,DB,01-JAN-18 00:00:00,5966674,12,119,54001,54001,54023,54023,2693267,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
2,DB,01-JAN-18 00:00:00,5959105,12,119,60001,60001,59955,59955,2693263,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
3,DB,01-JAN-18 00:00:00,5966888,12,119,58801,58801,58771,58771,2693284,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
4,DB,01-JAN-18 00:00:00,5965960,12,119,56401,56401,56309,56323,2693209,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,DB,01-JAN-18 00:00:00,5971880,20,876,44808,44808,44526,44544,2172284,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
9996,DB,01-JAN-18 00:00:00,5971884,20,876,69556,69556,69727,69727,2172283,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
9997,DB,01-JAN-18 00:00:00,5968766,20,876,62535,62535,62395,62395,2406881,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
9998,DB,01-JAN-18 00:00:00,5968764,20,876,55335,55335,55128,55152,2406881,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
9999,DB,01-JAN-18 00:00:00,5971888,20,876,83758,83758,83709,83719,2172283,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN